cachetools==4.2.2
certifi==2023.7.22
charset-normalizer==2.0.3
Django==3.2.24
django-debug-toolbar==2.2.1
google-api-core==1.31.0
google-api-python-client==2.14.1
google-auth==1.33.1
google-auth-httplib2==0.1.0
googleapis-common-protos==1.53.0
httplib2==0.19.1
idna==3.2
olefile==0.45.1
packaging==21.0
Pillow==9.3.0
protobuf==3.18.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==2.4.7
pytz==2018.5
requests==2.31.0
rsa==4.7.2
six==1.16.0
sqlparse==0.4.4
uritemplate==3.0.1
urllib3==1.26.6
